/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.text-box {
  padding-top: 50px;
  & h1 {
    font-weight: bold;
    font-size: 60px;
  }
  & h5 {
    font-weight: lighter;
    display: inline;
  }
  & h3 {
    display: inline;
  }
}

#logo-pic {
  width: 70%;
}

.all-bikes {
  padding: 15px;
  width: 50% !important;
}

#icon {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

.center-container {
}

.feature-review {
  vertical-align: middle;
  margin: 0 auto;
  padding-top: 70px;

}

.questions-wrapper {
  height: 400px;
  text-align: center;
  h1 {
    margin-top:175px;
  }
}

.btn-search {
  vertical-align:bottom;
  border-radius: 3%;
}

#input-field {
  width: 200px;
}

.label-style {
  display: block;
  padding-bottom: 5px;
}

.feature-feature {
  background-color: #E6EAEA;
  margin:0 auto;
  height: 350px;
}

.questions {
  height: 500px;
  text-align: center;
  position: relative;
  & h1 {
    position: absolute;
    top: 40%;
    left: 20%
  }
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature-review {
  & p {
    padding-top: 10px;
  }
  & h3 {
    padding-top: 10px;
  }
}

.inline-form {
  margin: 0;
  padding: 0;
}
