<div class="footer-fixed">
  <div class="wrapper-foot">
    <p>&copy; BBBikes</p>
  </div>
  <ul class="list-inline text-center">
    <li class="fa fa-youtube-square fa-lg text-center"  aria-hidden="true"></li>
    <li class="fa fa-facebook-square fa-lg text-center" aria-hidden="true"></li>
    <li class="fa fa-twitter-square fa-lg text-center" aria-hidden="true"></li>
    <li class="fa fa-instagram fa-lg text-center" aria-hidden="true"></li>
    <%= image_tag 'builtinmtl.png', id:"mtl" %>
  </ul>
</div>
