<div class="footer-fixed">
  <div class="wrapper-foot">
    <p>&copy; BBBikes</p>
  </div>
  <span class="fa fa-youtube-square fa-lg"  aria-hidden="true"></span>
  <span class="fa fa-facebook-square fa-lg" aria-hidden="true"></span>
  <span class="fa fa-twitter-square fa-lg" aria-hidden="true"></span>
  <span class="fa fa-instagram fa-lg" aria-hidden="true"></span>
  <%= image_tag 'builtinmtl.png', id:"mtl" %>
</div>
