<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="logo-div">
        <%= image_tag 'bicycle1600.png', id:'logo-pic' %>
      </div>
    </div>
    <div class="col-md-6">
    <div class="text-box text-center">
      <h1>You'll Go Far.</h1>
      <h2>BBBikes </h2> <h6>Montréal's Best Bike Sharing Platform</h6>
      <br>
      <%= link_to "View All Bikes", bikes_path, class: "navbar-wagon-item navbar-wagon-button all-bikes", id: "signup" %>
   </div>
</div>




