<div class="wrapper">
  <div class="stuff">
    <div id="animation">
        <div class="bike">
            <div class="bell">
                <div class="ringer">
                    <div class="lever"></div>
                </div>
                <div class="audio">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="stand"></div>
            </div>
            <div class="front wheel">
                <div class="rim">
                    <div class="air"></div>
                </div>
                <div class="hub"></div>
                <div class="spokes">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="frame">
                <div></div>
                <div></div>
                <div></div>
                <div class="small"></div>
                <div></div>
                <div></div>
                <div class="small"></div>
                <div class="small"></div>
            </div>
            <div class="seat">
                <div class="support"></div>
                <div class="saddle"></div>
            </div>
            <div class="handlebars">
                <div class="frameConnector"></div>
                <div class="handle"></div>
            </div>
            <div class="pedals">
                <div class="gear">
                    <div class="hub"></div>
                    <div class="struts">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="front pedal">
                    <div class="footpad"></div>
                </div>
                <div class="back pedal">
                    <div class="footpad"></div>
                </div>
            </div>
            <div class="back wheel">
                <div class="rim">
                    <div class="air"></div>
                </div>
                <div class="hub"></div>
                <div class="gear"></div>
                <div class="spokes">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
