<h1>Bikes#index</h1>
<p>Find me in app/views/bikes/index.html.erb</p>

<div class="list" id="left">
  <ul>
    <% @bikes.each do |bike| %>
      <li>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/800/600?image=39');">
          <div class="card-category"><%= bike.bike_kind %></div>
          <div class="card-description">
            <h2><%= bike.brand %> | <%= bike.model %></h2>
            <p><%= bike.description %></p>
          </div>
          <img class="card-user avatar" src="#">
          <a class="card-link" href="#" ></a>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="list" id="right">
 <script>
    function initMap() {
      function getLatLng() {
        var geocoder = new google.maps.Geocoder();
        var query = "5333 Casgrain Ave #102, Montreal, QC H2T 1X6";
        return results = geocoder.geocode( { 'address': query }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var latLng = results[0].geometry.location;
            alert('Geocode successful ' + latLng);
            return latLng
          } else {
            alert("Geocode was not successful for the following reason: " + status);
          }
        });
      }
      console.log(getLatLng());
      var map = new google.maps.Map(document.getElementById('right'), {
        zoom: 4,
        center:
      });
      var marker = new google.maps.Marker({
        position:
        map: map
      });
    }
  </script>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD45OqT5LNV6XWQ9cUXKdeLORsaRav0hmE&callback=initMap">
</script>


