// Your footer style

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#masthead {
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom:60px; /* Height of the footer element */
}


.footer-fixed {
  z-index: 1;
  width: 100%;
  background-color: #2C2C2C;
  height: 60px;
  color: white;
  position:absolute;
  bottom:0;
  left:0;
  & p {
    vertical-align: center;
    font-weight: lighter;
    padding-top: 20px;
    padding-left: 20px;
    position: absolute;
  }
  .list-inline {
    margin-bottom: 0;
  }
}

.wrapper-foot {
  position: relative;
}

#mtl {
  height: 40px;
  width: 40px;
  right: 1%;
  margin-top: 9px;
  position: absolute;
}

.list-inline {
  line-height: 60px;
}

.fa-youtube-square:hover {
  color: #e52d27;
  cursor: pointer;
}

.fa-facebook-square:hover {
  color: #3b5998;
  cursor: pointer;
}

.fa-twitter-square:hover {
  color: #4099ff;
  cursor: pointer;
}

.fa-instagram:hover {
  color: #8a3ab9;
  cursor: pointer;
}
