#searchForm {
  .form-wrap {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .input-field {
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    font-weight: 100;
  }
  .label-style {
    display: block;
    padding-bottom: 5px;
  }
  .btn-search {
    width: 100%;
  }
}

#bikeSearchForm {
  .form-wrap {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .input-field {
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    font-weight: 100;
  }
  .label-style {
    display: block;
    padding-bottom: 5px;
  }
  .btn-search {
    width: 100%;
  }
}

