<div class="wrapper">
	<div class="container text-center">
		<h1>You have <%= pluralize current_user.bikes.size, "bikes" %></h1>
  		<% current_user.bikes.each do |bike| %>
        	<%= render 'bike_card', bike: bike %>
  		<% end %>
	</div>
</div>
