<div class="wrapper">
	<div class="container text-center bike-list">
		<h3>You have <%= pluralize current_user.bikes.size, "bikes" %></h3>
  		<% current_user.bikes.each do |bike| %>
        	<%= render 'bike_card', bike: bike %>
  		<% end %>
	</div>
</div>
